@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

header {
    background: #607D8B;
    color: #fff;
    line-height: 80px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

#header-brand,
nav {
    flex-basis: 50%;
}

.logo-text {
    background: #fff;
    color: #607d8b;
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    line-height: 48px;
    height: 48px;
    width: 48px;
    margin: 0 15px;
    transition: 0.3s all;
}

#header-brand:hover .logo-text {
    transform: rotate(15deg);
}

#header-brand a {
    font-size: 1.5em;
}

#aang {
    color: #FFEB3B!important;
    font-weight: bold;
}

nav ul {
    float: right;
    padding: 0 20px;
}

nav ul li {
    display: inline-block;
    margin: 0px -3px;
}

#active {
    border-bottom: 4px solid #FFEB3B;
}

nav ul li a {
    padding: 0 20px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.3s all;
}

nav ul li a:hover {
    border-bottom: 4px solid #FBC02D;
}

@media(max-width: 768px) {
    header .container {
        padding: 0px;
    }
    .container {
        flex-direction: column;
        padding: 0 10px;
    }
    #header-brand,
    nav {
        flex-basis: 100%;
        text-align: center;
    }
    nav {
        background: #546E7A;
        line-height: 60px;
    }
    nav ul {
        float: none;
        margin: auto;
    }
}

.banner {
    position: relative;
    background: url('news_1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    color: #fff;
    overflow: hidden;
}

.filter-banner {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner .container {
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.banner-content {
    position: relative;
    flex: 1;
    padding: 0 80px;
    text-align: center;
    z-index: 2;
}

.banner h1 {
    font-size: 3em;
    color: #fff;
}

.banner em {
    font-size: 1.25em;
}


/* Scroll down animation */

.scroll-down2 {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 15px auto;
}

.scroll-down2:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    transform: translateX(-50%);
    background: #fff;
    animation: scrollDown2 1.5s ease infinite;
}

.scroll-down2:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 5px;
    width: 4px;
    height: 12px;
    border-radius: 3px;
    transform: translateX(-50%);
    background: #fff;
}

@keyframes scrollDown2 {
    0% {
        transform: translate(-50%, 0px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 8px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 16px);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .banner .container {
        flex-direction: row;
    }
    .banner-content {
        padding: 0 40px;
    }
}

main {
    padding: 40px 0px;
}

#content {
    flex-basis: 70%;
}

article.card {
    flex-basis: 29.2%;
    flex-shrink: 1;
    overflow: hidden;
    margin: 15px 11px;
    padding: 0px;
    position: relative;
}

@media(max-width: 768px) {
    #content {
        flex-basis: 100%;
    }
    article.card {
        flex-basis: 44%;
    }
}

@media(max-width: 500px) {
    article.card {
        flex-basis: 100%;
    }
}

.article-cat {
    position: absolute;
    display: inline-flex;
    flex-shrink: 1;
    flex-basis: 0%;
    background: #FF5722;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px;
    top: 0;
}

.card-img-wrapper {
    position: relative;
    z-index: -1;
}

.card-img-wrapper img {
    height: auto;
    width: 100%;
    transition: 0.3s all;
}

article.card:hover .card-img-wrapper img {
    transform: scale(1.5);
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 6px;
}

.card-body {
    display: flex;
    background: linear-gradient(to top, black, #00000029);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

.card-content {
    flex: 1;
    padding: 20px;
}

.card-body h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
}

.date {
    margin: 5px 0px;
}

.heading {
    display: flex;
    flex-direction: row;
}

.vert-line {
    /* display: inline-block; */
    height: auto;
    width: 10px;
    border-right: 4px solid #FFC107;
}

.heading h2 {
    padding: 0 10px;
}

aside {
    flex-basis: 30%;
    margin: 15px 0px;
    padding: 10px;
}

@media(max-width: 768px) {
    aside {
        flex-basis: 100%;
    }
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 6px 0px;
    margin: 5px 10px;
    border-bottom: 1px dashed #888;
}

aside ul li:last-child {
    border-bottom: 0px;
}

aside ul li a {
    color: #333;
    font-size: 1.1em;
    text-decoration: none;
    transition: 0.3s all;
}

aside ul li a:hover {
    color: #FFC107;
}

footer {
    background: #444;
    padding: 20px;
}

footer .logo-text {
    display: block;
    margin: 10px 0px;
    color: #444;
}

.block-footer {
    color: #fff;
    flex-basis: 33%;
    margin: 15px 0px;
    padding: 0 30px;
}

.block-footer>.logo-text+a {
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
    display: block;
    margin: 8px 0px;
}

.block-footer h2 {
    color: #fff;
    margin: 0 0 15px 0;
}

.block-footer ul li {
    list-style: none;
    margin: 8px 0px;
}

.block-footer ul li a {
    color: inherit;
    text-decoration: none;
}

footer form input {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0px;
    margin: 5px;
}

footer form button {
    border: 0px;
    border-radius: 4px;
    background: #FFC107;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

footer #menu-socmed {
    margin: 10px 0px;
}

footer #menu-socmed li {
    display: inline-block;
    padding: 0 10px;
}

footer #menu-socmed li a i {
    font-size: 1.75em!important;
}

#copy {
    margin: 10px 0px;
    padding: 0 70px;
    color: #fff;
    font-size: 10pt;
}

@media(max-width: 768px) {
    .block-footer,
    #copy {
        padding: 0px;
    }
}